<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UKCovidData.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BF6A8DD326F2541A0084DF96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF6A8DE826F2541C0084DF96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF6A8DF226F2541C0084DF96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
